<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipizinho</title>
</head>
<body>
    <h1>Produtos</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label><br>
        {{ produtoForm.nome }}<br><br>
        
        <label for="descricao">Descrição:</label><br>
        {{ produtoForm.descricao }}<br><br>
        
        <label for="preco">Preço:</label><br>
        {{ produtoForm.preco }}<br><br>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>